body{
    background: #cccccc;
    padding: 20px;
}

h1{
    padding: 20px;
    text-align: center;
    background-color: #fcfcfc;
}

h2{
    font-size: 24px;
    border-bottom: 2px solid black;
}


form label{
    font-size: 14px;
}

form .form-group{
    margin-bottom: 50px;
}

.myCanvas{
    text-align: center;
    position: relative;
    background: white;
    margin: auto auto;
    overflow: hidden;
    border: 1px solid black;
}

.bg-div{
    background: red;
    width: 50%;
    height: 50%;
}

.bg-div2{
    
    background: white;
    width: 70%;
    height: 70%;
    border-radius: 30px;
    border: 10px solid red;
}

.frame{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}